*.egg-info
*.mo
*.pyc
.installed.cfg
.mr.developer.cfg
.project
.pydevproject
.settings/
bin/
buildout-cache/
develop-eggs/
parts/
src/*
!src/collective
var/
htmlcov/
.coverage
*.log
output.xml
*.swp
log.html
report.html

src/collective/.DS_Store

*.mo

src/collective/autoscaling/locales/no/.DS_Store

src/collective/autoscaling/locales/en/.DS_Store

src/collective/autoscaling/locales/.DS_Store

src/collective/autoscaling/.DS_Store

*.pyc
